# Base URL for the Employee mock API (GET/POST/PUT/DELETE)
REACT_APP_EMPLOYEE_API_URL=https://669b3f09276e45187d34eb4e.mockapi.io/api/v1/employee

# Base URL for the Country mock API (GET)
REACT_APP_COUNTRY_API_URL=https://669b3f09276e45187d34eb4e.mockapi.io/api/v1/country
